.container nav {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.card-text p {
  margin-bottom: 0;
}

button.favouriteBtn {
  margin-left: 1rem;
}

div .navbar-nav .nav-link.active {
  color: yellow;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: inherit;
}
